$bg-white: rgba(255, 255, 255, 1);
$bg-header: rgba(2, 12, 38, 1);
$bg-danger: red;
$color-primary: #191d34;
$bg-card: rgba(240, 118, 29, 1);

// Fonts
$ff: "Roboto", sans-serif;

/// change

$top-header-bg: #00163e;
$color-text-primary: #212529;
$text-footer: rgba(134, 140, 152, 1);
